* {
  margin: 0;
  padding: 0;
}

.container {
  text-align: center;
}

.container div {
  padding: 15px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
}

.header {
  background-color: #393f4d;
}

.logo {}

.menu {}

.menu ul {}

.menu ul,
.menu li {
  font-size: 16px;
}

.sidebar {
  background-color: #FF7755;
}

.sidebar .photo {
  background-color: white;
  color: black;
  font-size: 12px;
  font-weight: normal;
  border-radius: 10px;
}

.photo {}

.sidebar .side-content {
  background-color: white;
  color: black;
  font-size: 16px;
  font-weight: normal;
}

.nav {
  background-color: #FF7755;
}

.nav ul {}

.nav ul li {
  font-size: 16px;
  text-transform: uppercase;
}

.article {
  background-color: #bccbde;
}

.article p {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;
}

.article .card {
  background-color: #FFFFFF;
  color: black;
  text-align: center;
}

.card p {
  color: black;
  font-weight: normal;
  font-size: 14px;
}

.card .title {
  font-size: 18px;
  text-align: center;
}

.footer {
  background-color: #393f4d;
}

.footer p {
  font-size: 13px;
  font-weight: normal;
}


/* Solution */
/* row start / column start / row end / column end */
.container {
  display: grid;
  grid-template-columns: 400px 1500px;
  grid-template-rows: 90px 50px 700px 50px;
  gap: 5px;
}

.article {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  gap: 10px;
  grid-area: 3/2/5/3;
}

.header {
  display: grid;
  grid-template-columns: 300px 1200px;
  grid-area: 1/1/2/3;
  justify-content: space-between;
  align-items: center;
}

.menu>ul {
  display: grid;
  grid-template-columns: 300px 300px 300px 300px;
  list-style-type: none;
}
.menu>ul>li {
  display: grid;
  /* justify-content: end; */

}

.sidebar {
  display: grid;
  grid-template-rows: 200px;
  grid-area: 2/1/5/2;
  gap: 5px;
}

.nav {
  display: grid;
  grid-area: 2/2/3/3;
  justify-content: space-between;
  align-items: center;
}

.nav ul {
  display: grid;
  grid-template-columns: 400px 400px 400px;
  list-style-type: none;
}

.article {
  display: grid;
  grid-area: 3/2/5/3;
}

.footer{
  display: grid;
  grid-area: 5/1/6/3;
}
